@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

body {
  background-color: #fef7f5;
  height: 100vh;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.marquee {
  animation: marquee 5s linear infinite;
  white-space: nowrap;
  width: "300%";
  display: flex;
}
