@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

body {
  background-color: #fef7f5;
  height: 100vh;
  font-family: Plus Jakarta Sans, sans-serif;
  line-height: normal;
}

/* Or create a specific class to use the font */
.plus-jakarta-font {
  font-family: Plus Jakarta Sans, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.marquee {
  animation: marquee 5s linear infinite;
  white-space: nowrap;
  width: "300%";
  display: flex;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  height: auto;
  animation: typing 1.5s steps(30, end) forwards, 2s stay 1.5s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes stay {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}
